<!DOCTYPE html>
<html lang="en">

<head>
    <title>MAFS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Logo and Text -->
        <div class="jumbotron">
            <div class="container-fluid text-center">
                <h1>
                    <img src="images/MAFS_Logo renewed.png" height="120">Missouri Association of Faculty Senates</h1>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="index.html">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ABOUT US
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="#">MAFS</a>
                                </li>
                                <li>
                                    <a href="#">Information</a>
                                </li>
                                <li>
                                    <a href="officers.html">Officers</a>
                                </li>
                                <li>
                                    <a href="#">Constitution/ By-Laws</a>
                                </li>
                                <li>
                                    <a href="#">Proc.Manual</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">INSTITUTIONS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="13universities.html">13 Universities</a>
                                </li>
                                <li>
                                    <a href="#">Community Colleges</a>
                                </li>
                                <li>
                                    <a href="designated_voters.html">Designated Voters</a>
                                </li>
                                <li>
                                    <a href="#">Seante Act</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">EVENTS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="meetings.html">Meetings</a>
                                </li>
                                <li>
                                    <a href="#">Meeting Reg. Form</a>
                                </li>
                                <li>
                            </ul>
                            </li>
                            <li class="dropdown">
                                <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">RESOURCES
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-background">
                                    <li>
                                        <a href="https://dhe.mo.gov/" target="_blank">MDHE</a>
                                    </li>
                                    <li>
                                        <a href="https://dhe.mo.gov/cbhe/" target="_blank">CBHE</a>
                                    </li>
                                    <li>
                                        <a href="#">Newsletter Template</a>
                                    </li>
                                    <li>
                                        <a href="#">Directory</a>
                                    </li>
                                    <li>
                                        <a href="#">Institution Links</a>
                                    </li>
                                    <li>
                                        <a href="#">Best Practice</a>
                                    </li>
                                    <li>
                                        <a href="#">Minutes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ADVOCACY
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-background">
                                    <li>
                                        <a href="#">Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Submission</a>
                                    </li>
                                    <li>
                                        <a href="#">Create Account</a>
                                    </li>
                                    <li>
                                        <a href="#">Executive Council</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">CONTACT US</a>
                            </li>
                            <li>
                                <a href="#">LEG. UPDATE</a>
                            </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-log-in"></span> Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar END -->
    </header>
    <!-- The Content Area -->

    <!-- Officers List -->
    <div class="container-fluid">
        <!-- Advisory Council -->
        <div class="container content">
                <h4 style="padding-bottom:1em; padding-top:1em; text-align: center">
                        <a class="e7f80" href="http://www.mafs.org/0708/Designated%20Voters.doc">DUTIES</a>
                    </h4>
                    <h4 style="padding-bottom:1em; text-align: center">
                            <a class="e7f80" href="http://www.mafs.org/forms/reporttemplate.docx">REPORT TEMPLATE</a>
                        </h4>
            <h2 class="ff8300" style="padding-bottom:0.2em">Designated Voters</h2>
            <hr>
            <!-- ROW 1 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Owolabi Tiamiyu</h4>
                            <p>Harris Stowe State University</p>
                            <p>TiamiyuO@hssu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Diane L. Wood</h4>
                            <p>Southeast Missouri State University</p>
                            <p>dwood@semo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 2 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Amy Gossett</h4>
                            <p>Lincoln University</p>
                            <p>gossetta@lincolnu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">James Guffey</h4>
                            <p>Truman State University</p>
                            <p>jguffey@truman.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 3 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Michael Garoutte</h4>
                            <p>Missouri Southern State University</p>
                            <p>garoutte-m@mssu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">David Ewing</h4>
                            <p>University of Central Missouri</p>
                            <p>ewing@ucmo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 4 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Michael Garoutte</h4>
                            <p>Missouri Southern State University</p>
                            <p>garoutte-m@mssu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">David Ewing</h4>
                            <p>University of Central Missouri</p>
                            <p>ewing@ucmo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
    <footer style="margin-top:2em; text-align:center" class="footer">
        <div class="container">
          <span class="text-muted">Missouri Association of Faculty Senates</span>
        </div>
      </footer>
</body>

</html>