<%- include('templates/header') %>
    <!-- The Content Area -->

    <!-- Officers List -->
    <div class="container-fluid">
        <!-- Advisory Council -->
        <div class="container content">
                <h4 style="padding-bottom:1em; padding-top:1em; text-align: center">
                        <a class="e7f80" href="http://www.mafs.org/0708/Designated%20Voters.doc">DUTIES</a>
                    </h4>
                    <h4 style="padding-bottom:1em; text-align: center">
                            <a class="e7f80" href="http://www.mafs.org/forms/reporttemplate.docx">REPORT TEMPLATE</a>
                        </h4>
            <h2 class="ff8300" style="padding-bottom:0.2em">Designated Voters</h2>
            <hr>
            <!-- ROW 1 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Owolabi Tiamiyu</h4>
                            <p>Harris Stowe State University</p>
                            <p>TiamiyuO@hssu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Diane L. Wood</h4>
                            <p>Southeast Missouri State University</p>
                            <p>dwood@semo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 2 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Amy Gossett</h4>
                            <p>Lincoln University</p>
                            <p>gossetta@lincolnu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">James Guffey</h4>
                            <p>Truman State University</p>
                            <p>jguffey@truman.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 3 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Michael Garoutte</h4>
                            <p>Missouri Southern State University</p>
                            <p>garoutte-m@mssu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">David Ewing</h4>
                            <p>University of Central Missouri</p>
                            <p>ewing@ucmo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 4 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Michael Garoutte</h4>
                            <p>Missouri Southern State University</p>
                            <p>garoutte-m@mssu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">David Ewing</h4>
                            <p>University of Central Missouri</p>
                            <p>ewing@ucmo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<%- include('templates/footer') %>