<!DOCTYPE html>
<html lang="en">

<head>
    <title>MAFS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Logo and Text -->
        <div class="jumbotron">
            <div class="container-fluid text-center">
                <h1>
                    <img src="images/MAFS_Logo renewed.png" height="120">Missouri Association of Faculty Senates</h1>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="index.html">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ABOUT US
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="#">MAFS</a>
                                </li>
                                <li>
                                    <a href="#">Information</a>
                                </li>
                                <li>
                                    <a href="officers.html">Officers</a>
                                </li>
                                <li>
                                    <a href="#">Constitution/ By-Laws</a>
                                </li>
                                <li>
                                    <a href="#">Proc.Manual</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">INSTITUTIONS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="13universities.html">13 Universities</a>
                                </li>
                                <li>
                                    <a href="#">Community Colleges</a>
                                </li>
                                <li>
                                    <a href="designated_voters.html">Designated Voters</a>
                                </li>
                                <li>
                                    <a href="#">Seante Act</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">EVENTS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="meetings.html">Meetings</a>
                                </li>
                                <li>
                                    <a href="#">Meeting Reg. Form</a>
                                </li>
                                <li>
                            </ul>
                            </li>
                            <li class="dropdown">
                                <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">RESOURCES
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-background">
                                    <li>
                                        <a href="https://dhe.mo.gov/" target="_blank">MDHE</a>
                                    </li>
                                    <li>
                                        <a href="https://dhe.mo.gov/cbhe/" target="_blank">CBHE</a>
                                    </li>
                                    <li>
                                        <a href="#">Newsletter Template</a>
                                    </li>
                                    <li>
                                        <a href="#">Directory</a>
                                    </li>
                                    <li>
                                        <a href="#">Institution Links</a>
                                    </li>
                                    <li>
                                        <a href="#">Best Practice</a>
                                    </li>
                                    <li>
                                        <a href="#">Minutes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ADVOCACY
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-background">
                                    <li>
                                        <a href="#">Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Submission</a>
                                    </li>
                                    <li>
                                        <a href="#">Create Account</a>
                                    </li>
                                    <li>
                                        <a href="#">Executive Council</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">CONTACT US</a>
                            </li>
                            <li>
                                <a href="#">LEG. UPDATE</a>
                            </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-log-in"></span> Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar END -->
    </header>
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/business-meeting.jpg" alt="1">
                <div class="carousel-caption">
                    <h3>Our Meetings</h3>
                    <p>Focus on Student Develpoment</p>
                </div>
            </div>

            <div class="item">
                <img src="images/annual_general_meeting.jpg" alt="2">
                <div class="carousel-caption">
                    <h3>Work Towards Betterment</h3>
                    <p>Successful is what our students are</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- The Content Area -->
    <!-- Officers List -->
    <div class="container-fluid">
        <div class="container content">
            <h2 class="ff8300" style="padding-top:1em; padding-bottom:2em">Officers - 2014-2015</h2>
            <!-- ROW 1 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">President</h4>
                            <h5 class="b891">Johndavid Kerr</h5>
                            <p>Harris Stowe State University</p>
                            <p>kerrj@hssu.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Vice President</h4>
                            <h5 class="b891">Nicole Monnier</h5>
                            <p>University of Missouri</p>
                            <p>MonnierN@missouri.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 2 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Secretary/Treasurer</h4>
                            <h5 class="b891">Robert Bergland</h5>
                            <p>Missouri Western State University</p>
                            <p>bergland@missouriwestern.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Immediate Past President</h4>
                            <h5 class="b891">Stephanie Chamberlain</h5>
                            <p>Southeast Missouri State University</p>
                            <p>sechamberlain@semo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 3 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Member at Large</h4>
                            <h5 class="b891">Max Fridell</h5>
                            <p>Northwest Missouri State University</p>
                            <p>mfridel@nwmissouri.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Advisory Council -->
            <h2 class="ff8300" style="padding-top:2em; padding-bottom:2em">Advisory Council</h2>
            <!-- ROW 1 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Laura Widmer</h4>
                            <p>Northwest Missouri State University</p>
                            <p>lwidmer@nwmissouri.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Bob Yates</h4>
                            <p>Central Missouri State University</p>
                            <p>ryates@ucmo.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 2 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Craig Roberts</h4>
                            <p>Southeast Missouri State University</p>
                            <p>croberts@semo.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Paula Kemp</h4>
                            <p>Southwest Missouri State University</p>
                            <p>PaulaKemp@MissouriState.edu</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- ROW 3 -->
            <div class="row">
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Rick Althaus</h4>
                            <p>Southeast Missouri State University</p>
                            <p>ralthaus@semo.edu</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/user.png" alt="user">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Susan A. Morgan</h4>
                            <p>Central Missouri State University</p>
                            <p>sammo@wcblue.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer style="margin-top:2em; text-align:center" class="footer">
        <div class="container">
            <span class="text-muted">Missouri Association of Faculty Senates</span>
        </div>
    </footer>
</body>

</html>