<!DOCTYPE html>
<html lang="en">

<head>
    <title>MAFS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Logo and Text -->
        <div class="jumbotron">
            <div class="container-fluid text-center">
                <h1>
                    <img src="images/MAFS_Logo renewed.png" height="120">Missouri Association of Faculty Senates</h1>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="index.html">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ABOUT US
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="#">MAFS</a>
                                </li>
                                <li>
                                    <a href="#">Information</a>
                                </li>
                                <li>
                                    <a href="officers.html">Officers</a>
                                </li>
                                <li>
                                    <a href="#">Constitution/ By-Laws</a>
                                </li>
                                <li>
                                    <a href="#">Proc.Manual</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">INSTITUTIONS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="13universities.html">13 Universities</a>
                                </li>
                                <li>
                                    <a href="#">Community Colleges</a>
                                </li>
                                <li>
                                    <a href="designated_voters.html">Designated Voters</a>
                                </li>
                                <li>
                                    <a href="#">Seante Act</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">EVENTS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="meetings.html">Meetings</a>
                                </li>
                                <li>
                                    <a href="#">Meeting Reg. Form</a>
                                </li>
                                <li>
                            </ul>
                            </li>
                            <li class="dropdown">
                                <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">RESOURCES
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-background">
                                    <li>
                                        <a href="https://dhe.mo.gov/" target="_blank">MDHE</a>
                                    </li>
                                    <li>
                                        <a href="https://dhe.mo.gov/cbhe/" target="_blank">CBHE</a>
                                    </li>
                                    <li>
                                        <a href="#">Newsletter Template</a>
                                    </li>
                                    <li>
                                        <a href="#">Directory</a>
                                    </li>
                                    <li>
                                        <a href="#">Institution Links</a>
                                    </li>
                                    <li>
                                        <a href="#">Best Practice</a>
                                    </li>
                                    <li>
                                        <a href="#">Minutes</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ADVOCACY
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-background">
                                    <li>
                                        <a href="report.html">Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Submission</a>
                                    </li>
                                    <li>
                                        <a href="#">Create Account</a>
                                    </li>
                                    <li>
                                        <a href="#">Executive Council</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">CONTACT US</a>
                            </li>
                            <li>
                                <a href="#">LEG. UPDATE</a>
                            </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-log-in"></span> Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar END -->
    </header>
    <!-- Form -->
    <div class="container content">
        <div class="row">
            <div class="col-md-8 card">
                <h2 class="ff8300">Submit your report here</h2>
                <hr>
                <form>
                    <div class="form-group">
                        <label class="b891" for="exampleFormControlSelect1">Select University</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Northwest Missouri State University</option>
                            <option>Midwestern Missouri State University</option>
                            <option>Western Missouri State University</option>
                            <option>Harris Stowe State University</option>
                            <option>Truman State University</option>
                        </select>
                        <br>

                        <label class="b891" for="exampleFormControlSelect1">Select term</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Fall 2018</option>
                            <option>Summer 2018</option>
                            <option>Spring 2018</option>
                        </select>
                        <br>
                        <label class="b891" for="exampleFormControlFile1">Upload your report here</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        <br>
                        <label class="b891" for="exampleFormControlTextarea1">Notes</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <!-- <div class="col-md-4 rcorners card">
                
            </div>
            <div class="col-md-4 rcorners card">
                
            </div> -->
        </div>
    </div>
    <!-- Footer -->
    <footer style="margin-top:2em; text-align:center" class="footer">
        <div class="container">
            <span class="text-muted">Missouri Association of Faculty Senates</span>
        </div>
    </footer>
</body>

</html>