<%- include('templates/header') %>
<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>Reset Form</h2>
       <p>Please enter your email to retrieve your password</p>
       </div>
        <form id="Login">
    
            <div class="form-group">
    
    
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
    
            </div>
    
            <button type="submit" class="btn btn-primary">Send Verification Link</button>
    
        </form>
        </div>
    </div></div></div>
    <%- include('templates/footer') %>