<div class="col-md-4 rcorners card">
    <h2 class="ff8300">Announcements</h2>
    <p>
        <b class="b891">Spring Meeting February 16-17,2015</b>
    </p>
    <p>We will be staying at the Capitol Plaza Hotel
        <a href="http://www.capitolplazajeffersoncity.com/contactus.aspx">(http://www.capitolplazajeffersoncity.com/contactus.aspx)</a>. When you make your reservations please
        mention you are part of the MAFS meeting. The room rate for this meeting is $99. Make certain to tell
        them you are with the Missouri Association of Faculty Senates. Your rooms must be reserved by February
        2, 2015. After reserving your room, please complete the meeting registration form at
        <a href="http://www.mafs.org/MAFSRegForm.asp">http://www.mafs.org/MAFSRegForm.asp</a>.</p>
</div>
<div class="col-md-4 rcorners card">
    <h2 class="ff8300">Events</h2>
    <p>
        <b class="b891">Fun Events February 16-17,2015</b>
    </p>
    <p>More fun Events at the Capitol Plaza Hotel
        <a href="http://www.capitolplazajeffersoncity.com/contactus.aspx">(http://www.capitolplazajeffersoncity.com/contactus.aspx)</a>. When you make your reservations please
        mention you are part of the MAFS meeting. The room rate for this meeting is $99. Make certain to tell
        them you are with the Missouri Association of Faculty Senates. Your rooms must be reserved by February
        2, 2015. After reserving your room, please complete the meeting registration form at
        <a href="http://www.mafs.org/MAFSRegForm.asp">http://www.mafs.org/MAFSRegForm.asp</a>.</p>
</div>