    <!-- Footer -->
    <footer style="margin-top:2em; text-align:center" class="footer">
        <div class="container">
            <span class="text-muted">Missouri Association of Faculty Senates</span>
        </div>
    </footer>
</body>

</html>