<!DOCTYPE html>
<html lang="en">

<head>
    <title>MAFS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Logo and Text -->
        <div class="jumbotron">
            <div class="container-fluid text-center">
                <h1>
                    <img src="/images/MAFS_Logo renewed.png" height="120">Missouri Association of Faculty Senates</h1>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ABOUT US
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="#">MAFS</a>
                                </li>
                                <li>
                                    <a href="#">Information</a>
                                </li>
                                <li>
                                    <a href="/officers">Officers</a>
                                </li>
                                <li>
                                    <a href="#">Constitution/ By-Laws</a>
                                </li>
                                <li>
                                    <a href="#">Proc.Manual</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">INSTITUTIONS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="/13universities">13 Universities</a>
                                </li>
                                <li>
                                    <a href="#">Community Colleges</a>
                                </li>
                                <li>
                                    <a href="/designated_voters">Designated Voters</a>
                                </li>
                                <li>
                                    <a href="#">Seante Act</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">EVENTS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="/meetings">Meetings</a>
                                </li>
                                <li>
                                    <a href="#">Meeting Reg. Form</a>
                                </li>
                                <li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">RESOURCES
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="https://dhe.mo.gov/" target="_blank">MDHE</a>
                                </li>
                                <li>
                                    <a href="https://dhe.mo.gov/cbhe/" target="_blank">CBHE</a>
                                </li>
                                <li>
                                    <a href="/newsletter">Newsletter Template</a>
                                </li>
                                <li>
                                    <a href="#">Directory</a>
                                </li>
                                <li>
                                    <a href="#">Institution Links</a>
                                </li>
                                <li>
                                    <a href="#">Best Practice</a>
                                </li>
                                <li>
                                    <a href="#">Minutes</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ADVOCACY
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="/report">Report</a>
                                </li>
                                <li>
                                    <a href="#">Submission</a>
                                </li>
                                <li>
                                    <a href="#">Create Account</a>
                                </li>
                                <li>
                                    <a href="#">Executive Council</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">CONTACT US</a>
                        </li>
                        <li>
                            <a href="#">LEG. UPDATE</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <%if (isLoggedIn) { %>
                            <a href="/logout">
                                <span class="glyphicon glyphicon-log-in"></span> Log out
                            </a>
                            <% } else {%>
                            <a href="/login">
                                <span class="glyphicon glyphicon-log-in"></span> Log in
                            </a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar END -->
    </header>